.git
.svn
_svn
.CVS
.arch-params
.bzr
_darcs
.hg
.monotone
.svn
_svn
.DS_Store
__MACOSX
.settings
.buildpath
.project
.idea/
.cache
nbproject
*.komodoproject
/.netbeans/
catalog.xml
*.psd
*~
.htpasswd
